:root{
    --bg:#0D1117;
    --text:white;
    --card:#161B22;
}

.light{
    --bg:white;
    --text:black;
    --card:#eeeeee;
}

body{
    margin:0;
    background:var(--bg);
    color:var(--text);
    font-family:Arial;
    transition:0.3s;
}

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px;
    background:#222;
}

nav a{
    color:white;
    margin:10px;
    text-decoration:none;
}

section{
    padding:50px;
}

.project{
    background:var(--card);
    padding:20px;
    margin:10px 0;
    border-radius:10px;
}

.bar{
    width:300px;
    height:20px;
    background:gray;
}

.fill{
    height:100%;
}

.csharp{
    width:80%;
    background:lime;
}

.unitybar{
    width:70%;
    background:red;
}

.git{
    width:40%;
    background: purple;
}

.hidden{
    opacity:0;
    transform:translateY(50px);
    transition:1s;
}

.show{
    opacity:1;
    transform:translateY(0);
}